.price-box {
  box-shadow: 0px 0px 17px #00000029;
  width: 552px;
  border-radius: 20px;
  height: 118px;
}

.cliente-text {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 31px;
  color: #FC3D61;
}

.cliente-text button {
  background: transparent !important;
  border-color: black !important;
  border-radius: 50%;
  padding: 0 !important;
  height: 15px;
  width: 15px;
  font-size: 12px;
  transform: translateY(50%);
}

.price-box {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 54px !important;
  color: black !important;
}

.show-product h3 {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 52px;
  color: #FC3D61;
}
.show-product h1 {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 59px;
  color: black;
}
.show-product span {
  font-family: "Montserrat-Light", sans-serif;
  font-size: 28px;
  color: #131F3E;
}

.show-product-p {
  font-family: "Montserrat-Light", sans-serif;
  font-size: 22px;
  color: #A5A5A5;
}

@media (max-width: 1600px) {
  .price-box {
    box-shadow: 0px 0px 17px #00000029;
    width: 352px;
    border-radius: 20px;
    height: 90px;
  }

  .cliente-text {
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 21px;
    color: #FC3D61;
  }

  .price-box {
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 34px !important;
    color: black !important;
  }
}
.formulario input {
  width: 633px;
  height: 66px;
  border-radius: 20px;
  box-shadow: 0px 0px 17px #00000029;
  padding: 10px;
}
.formulario input::-moz-placeholder, .formulario textarea::-moz-placeholder {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 21px;
  color: #AFAFAF;
}
.formulario input:-ms-input-placeholder, .formulario textarea:-ms-input-placeholder {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 21px;
  color: #AFAFAF;
}
.formulario input::placeholder, .formulario textarea::placeholder {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 21px;
  color: #AFAFAF;
}
.formulario textarea {
  border-radius: 20px;
  box-shadow: 0px 0px 17px #00000029;
  padding: 10px;
}
.formulario button {
  width: 633px;
  height: 77px;
  color: white;
  background: #131F3E;
  font-family: "Montserrat-Black", sans-serif;
  font-size: 35px;
  border-radius: 20px;
  box-shadow: 0px 0px 17px #00000029;
}
@media (max-width: 1600px) {
  .formulario input {
    width: 533px;
    height: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 17px #00000029;
    padding: 10px;
  }
  .formulario button {
    width: 533px;
    height: 67px;
    color: white;
    background: #131F3E;
    font-family: "Montserrat-Black", sans-serif;
    font-size: 35px;
  }
}
@media (max-width: 960px) {
  .formulario input {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 17px #00000029;
    padding: 10px;
  }
  .formulario button {
    width: 100%;
    height: 67px;
    color: white;
    background: #131F3E;
    font-family: "Montserrat-Black", sans-serif;
    font-size: 35px;
  }
}

@media (max-width: 960px) {
  .formulario {
    width: 100% !important;
    padding: 10px;
  }
}
.contacto h3 {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 70px;
  color: #131F3E;
  line-height: 70px;
}
.contacto p {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 22px;
  color: #131F3E;
}

@media (max-width: 960px) {
  .contacto h3 {
    font-family: "Montserrat-Black", sans-serif;
    font-size: 40px;
    color: #131F3E;
    line-height: 40px;
  }
  .contacto p {
    font-family: "Montserrat-Medium", sans-serif;
    font-size: 22px;
    color: #131F3E;
  }
}
.navbar-secondary .blue-filter {
  height: 100%;
  width: 100%;
  background: #131F3E;
  opacity: 0.9;
}
.navbar-secondary .tarifario-title h1 {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 53px;
  color: white;
}
.navbar-secondary .tarifario-title h1 span {
  font-family: "Montserrat-Regular", sans-serif !important;
  font-size: 19px;
  color: white;
}
.navbar-secondary .tarifario-title h5 {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 19px;
  color: #FC3D61;
}
.navbar-secondary .inicio {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 28px;
  color: white;
}
.navbar-secondary .contacto {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 28px;
  color: white;
}
@media (max-width: 1600px) {
  .navbar-secondary .inicio {
    font-size: 21px;
  }
  .navbar-secondary .contacto {
    font-size: 21px;
  }
  .navbar-secondary .tarifario-title h1 {
    font-family: "Montserrat-Black", sans-serif;
    font-size: 43px;
    color: white;
  }
  .navbar-secondary .tarifario-title h1 span {
    font-family: "Montserrat-Regular", sans-serif !important;
    font-size: 43px;
    color: white;
  }
}
@media (max-width: 960px) {
  .navbar-secondary .inicio {
    font-size: 15px;
  }
  .navbar-secondary .contacto {
    font-size: 15px;
  }
  .navbar-secondary .tarifario-title h1 {
    font-family: "Montserrat-Black", sans-serif;
    font-size: 21px;
    color: white;
  }
  .navbar-secondary .tarifario-title h1 span {
    font-family: "Montserrat-Regular", sans-serif !important;
    font-size: 21px;
    color: white;
  }
}

.padding-x-responsive {
  padding: 0 6% 0 6%;
}

@media (max-width: 960px) {
  .padding-x-responsive {
    padding: 0 2% 0 2%;
  }
}
.blue-filter {
  height: 100%;
  width: 100%;
  background: #131F3E;
  opacity: 0.9;
}

.tarifario-title h1 {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 100px;
  color: white;
}
.tarifario-title h1 span {
  font-family: "Montserrat-Regular", sans-serif !important;
  font-size: 100px;
  color: white;
}
.tarifario-title h5 {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 37px;
  color: #FC3D61;
}

.inicio {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 28px;
  color: white;
}

.contacto {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 28px;
  color: white;
}

@media (max-width: 1600px) {
  .inicio {
    font-size: 21px;
  }

  .contacto {
    font-size: 21px;
  }
}
@media (max-width: 960px) {
  .tarifario-title h1 {
    font-family: "Montserrat-Black", sans-serif;
    font-size: 50px;
    color: white;
  }
  .tarifario-title h1 span {
    font-family: "Montserrat-Regular", sans-serif !important;
    font-size: 50px;
    color: white;
  }
  .tarifario-title h5 {
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 21px;
    color: #FC3D61;
  }
}
.cuadro-categoria .barra-descripcion {
  background-color: #131F3E;
  border-radius: 17px 17px 0 0;
}
.cuadro-categoria .cuadro-producto {
  transition: ease 0.3s;
}
.cuadro-categoria .cuadro-producto:hover {
  background-color: #FC3D61 !important;
  cursor: pointer;
}
.cuadro-categoria .cuadro-producto:last-child {
  border-radius: 0 0 17px 17px;
}
.cuadro-categoria .category-title {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 34px;
  color: #7B87A7;
}
.cuadro-categoria .bold-title {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 23px;
  color: white;
}
.cuadro-categoria .aclaracion-title {
  font-family: "Montserrat-Light", sans-serif;
  font-size: 23px;
  color: white;
}
.cuadro-categoria .consultar-title {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 23px;
  color: white;
}
@media (max-width: 1281px) {
  .cuadro-categoria .bold-title,
.cuadro-categoria .aclaracion-title,
.cuadro-categoria .consultar-title {
    font-size: 14px;
  }
}
@media (max-width: 1600px) {
  .cuadro-categoria .bold-title,
.cuadro-categoria .aclaracion-title,
.cuadro-categoria .consultar-title {
    font-size: 16px;
  }
}
@media (max-width: 960px) {
  .cuadro-categoria .bold-title {
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 8px;
    color: white;
  }
  .cuadro-categoria .aclaracion-title {
    font-family: "Montserrat-Light", sans-serif;
    font-size: 10px;
    color: white;
  }
  .cuadro-categoria .consultar-title {
    font-family: "Montserrat-Medium", sans-serif;
    font-size: 10px;
    color: white;
  }
}

.categories-h2 {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 50px;
  color: #131F3E;
}

.category-box h2 {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 37px;
  color: #131F3E;
}

.category-box {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 37px;
  color: #131F3E;
  background-color: white;
  min-width: 400px;
  min-height: 160px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 17px #00000029;
  border-radius: 20px;
  transition: ease 0.3s;
}

.category-box-active {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 37px;
  color: white;
  background-color: #131F3E;
  min-width: 400px;
  min-height: 160px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 17px #00000029;
  border-radius: 20px;
  transition: ease 0.3s;
}

.category-box:hover {
  background-color: #131F3E;
  color: white;
  cursor: pointer;
}

@media (max-width: 1600px) {
  .category-box {
    font-size: 30px;
    min-width: 250px;
    min-height: 100px;
  }
}
@media (max-width: 960px) {
  .category-box {
    font-size: 30px;
    min-width: 95%;
    min-height: 50px;
  }
}
